In [ ]:
# Write a Python script that prints a welcome message along with the current date and time.
# Print a welcome message with the current date and time
import datetime
print("Welcome! Today's date and time is:", datetime.datetime.now())

Welcome! Today's date and time is: 2024-05-13 09:58:14.343922

In [ ]:
# Print a series of numbers from 1 to 10, each on a new line.
# Print numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Create variables to store the following information: name (string), age (integer), height (float), and is_student (boolean).
# Creating variables of different data types
name = "John"
age = 25
height = 6.1
is_student = True

In [ ]:
# Convert a string variable containing a numerical value to an integer or float data type.
# Converting string variable to integer or float
str_num = "10"
int_num = int(str_num)
float_num = float(str_num)

In [ ]:
# Convert an integer variable to a string data type.
# Converting integer variable to string
int_value = 123
str_value = str(int_value)

In [ ]:
# Perform arithmetic operations (addition, subtraction, multiplication, division) on numerical variables.
import math

# Arithmetic operations
result_add = 5 + 3
result_sub = 7 - 2
result_mul = 4 * 6
result_div = 10 / 2

In [ ]:
# Calculate the square root of a number.
# Square root
sqrt_value = math.sqrt(25)
print(sqrt_value)

5.0

In [ ]:
# Use the math module to perform more advanced mathematical operations like calculating logarithms or trigonometric functions.
import math

# Calculate the natural logarithm (base e) of a number
x = 10
log_value = math.log(x)
print("Natural logarithm of", x, ":", log_value)

# Calculate the logarithm of a number with a specified base (e.g., base 10)
log_base_10 = math.log10(x)
print("Logarithm base 10 of", x, ":", log_base_10)

# Calculate the logarithm of a number with a specified base (e.g., base 2)
log_base_2 = math.log2(x)
print("Logarithm base 2 of", x, ":", log_base_2)

# Calculate trigonometric functions (sine, cosine, tangent) in radians
angle_radians = math.radians(45)  # Convert angle from degrees to radians
sin_value = math.sin(angle_radians)
cos_value = math.cos(angle_radians)
tan_value = math.tan(angle_radians)
print("Sine of 45 degrees:", sin_value)
print("Cosine of 45 degrees:", cos_value)
print("Tangent of 45 degrees:", tan_value)

Natural logarithm of 10 : 2.302585092994046
Logarithm base 10 of 10 : 1.0
Logarithm base 2 of 10 : 3.321928094887362
Sine of 45 degrees: 0.7071067811865475
Cosine of 45 degrees: 0.7071067811865476
Tangent of 45 degrees: 0.9999999999999999

In [ ]:
# Concatenate two strings to form a new string.
# Concatenation
message = "Hello, " + "world!"
print(message)

Hello, world!

In [ ]:
# Extract a substring from a given string.
# Extract substring
sentence = "This is a sentence."
substring = sentence[5:7]  # Extracts "is"
print(substring)

is

In [ ]:
# Convert a string to uppercase or lowercase.
# Convert to uppercase or lowercase
uppercase_str = "hello".upper()
lowercase_str = "WORLD".lower()
print(uppercase_str)
print(lowercase_str)

HELLO
world

In [ ]:
# Create a list of numbers and calculate the sum, mean, and median of the elements.
# Create a list of numbers
numbers = [23, 45, 12, 67, 89, 34, 56, 78, 90]

# Calculate the sum of the elements
sum_of_numbers = sum(numbers)

# Calculate the mean (average) of the elements
mean_of_numbers = sum_of_numbers / len(numbers)

# Calculate the median of the elements
sorted_numbers = sorted(numbers)
n = len(numbers)
if n % 2 == 0:
    median_index = n // 2
    median = (sorted_numbers[median_index - 1] + sorted_numbers[median_index]) / 2
else:
    median_index = n // 2
    median = sorted_numbers[median_index]

print("List of Numbers:", numbers)
print("Sorted List:", sorted_numbers)
print("Sum of Numbers:", sum_of_numbers)
print("Mean of Numbers:", mean_of_numbers)
print("Median of Numbers:", median)

List of Numbers: [23, 45, 12, 67, 89, 34, 56, 78, 90]
Sorted List: [12, 23, 34, 45, 56, 67, 78, 89, 90]
Sum of Numbers: 494
Mean of Numbers: 54.888888888888886
Median of Numbers: 56

In [ ]:
# List of numbers
numbers = [10, 200, 30, 45, 51, 62,20]

# Calculate sum, mean, and median
sum_nums = sum(numbers)
mean_nums = sum_nums / len(numbers)
sorted_nums = sorted(numbers)
median_nums = sorted_nums[len(numbers)//2]
print("Sum:", sum_nums)
print("Mean:", mean_nums)
print("Sorted List:", sorted_nums)
print("Median:", median_nums)

Sum: 418
Mean: 59.714285714285715
Sorted List: [10, 20, 30, 45, 51, 62, 200]
Median: 45

In [ ]:
# Append new elements to a list.

In [ ]:
# Remove duplicate elements from a list.

In [ ]:
# Create a dictionary representing a person with keys like "name", "age", and "gender".
# Dictionary representing a person
person = {"name": "John", "age": 30, "gender": "Male"}
print(person)

{'name': 'John', 'age': 30, 'gender': 'Male'}

In [ ]:
# Access and modify values in the dictionary.
# Access and modify values
person["age"] = 35
print(person)

{'name': 'John', 'age': 35, 'gender': 'Male'}

In [ ]:
# Iterate over the key-value pairs in the dictionary and print them.
# Iterate over key-value pairs
for key, value in person.items():
    print(key, ":", value)

In [ ]:
# Write Python expressions using boolean operators (and, or, not).
# Iterate over key-value pairs
for key, value in person.items():
    print(key, ":", value)

name : John
age : 35
gender : Male

In [ ]:
# Use boolean variables to control the flow of a program (e.g., in conditional statements or loops).

In [ ]:
# Create a tuple containing the names of different fruits.
# Tuple containing fruit names
fruits = ("apple", "banana", "orange")
print(fruits)

('apple', 'banana', 'orange')

In [ ]:
# Access elements of a tuple using indexing.
# Access elements using indexing
first_fruit = fruits[0]
print(first_fruit)

apple

In [ ]:
# Create two sets of numbers and perform set operations like union, intersection, and difference.
# Sets of numbers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Set operations
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
print(union_set)
print(intersection_set)
print(difference_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [ ]:
# Check if a given element exists in a set.
# Define a set
my_set = {1, 2, 3, 4, 5}

# Element to check
element = 3

# Check if the element exists in the set
if element in my_set:
    print(f"The element {element} exists in the set.")
else:
    print(f"The element {element} does not exist in the set.")

The element 3 exists in the set.

In [ ]:
# Convert a list to a set to remove duplicate elements.
# Define a list with duplicate elements
my_list = [1, 2, 3, 4, 3, 2, 5, 6, 5]

# Convert the list to a set to remove duplicates
unique_set = set(my_list)

# Convert the set back to a list if needed
unique_list = list(unique_set)

print("Original List:", my_list)
print("List after removing duplicates:", unique_list)

Original List: [1, 2, 3, 4, 3, 2, 5, 6, 5]
List after removing duplicates: [1, 2, 3, 4, 5, 6]

In [ ]:
# Write Python expressions using comparison operators (>, <, ==, !=, >=, <=).
# Comparison operators
greater_than = 5 > 3
equal_to = "hello" == "world"
not_equal = 10 != 5
print(greater_than)
print(equal_to)
print(not_equal)

True
False
True

In [ ]:
# Write a Python script that asks the user to input their age and prints different messages based on whether they are a child, teenager, adult, or senior citizen.
# If-elif-else statements
age = int(input("Enter your age: "))
if age < 18:
    print("You are a child.")
elif age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

Enter your age:  25

You are an adult.

In [ ]:
# Implement a grading system that assigns letter grades (A, B, C, D, F) based on numerical scores.

In [ ]:
# For loop to print squares of numbers
for i in range(1, 11):
    print(i * i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Iterate over a list of strings and print the length of each string.
# For loop to print length of strings
strings = ["apple", "banana", "orange"]
for s in strings:
    print(len(s))

5
6
6

In [ ]:
# Write a Python script that repeatedly asks the user to guess a number until they guess it correctly.
import random

target = random.randint(1, 10)
guess = 8
while guess != target:
    guess = int(input("Guess the number (1-10): "))
print("Congratulations! You guessed it correctly.")

Guess the number (1-10):  1
Guess the number (1-10):  2
Guess the number (1-10):  3
Guess the number (1-10):  4
Guess the number (1-10):  5
Guess the number (1-10):  6
Guess the number (1-10):  7

Congratulations! You guessed it correctly.

In [ ]:
# Use a while loop to calculate the factorial of a given number.
# While loop to repeatedly guess a number
import random

target = random.randint(1, 10)
guess = 8
while guess != target:
    guess = int(input("Guess the number (1-10): "))
print("Congratulations! You guessed it correctly.")

Guess the number (1-10):  7
Guess the number (1-10):  8
Guess the number (1-10):  10
Guess the number (1-10):  1
Guess the number (1-10):  2
Guess the number (1-10):  3
Guess the number (1-10):  4

Congratulations! You guessed it correctly.

In [ ]:
# While loop to calculate factorial
num = int(input("Enter a number: "))
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print("Factorial:", factorial)

Enter a number:  5

Factorial: 120